.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  border-radius: 30px;
  gap: 1rem;
}

.item {
  width: 56%;
  overflow: visible;
  stroke: #e37021;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
  margin: 0 auto;
}
